<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstAjax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DateServlet</display-name>
    <servlet-name>DateServlet</servlet-name>
    <servlet-class>com.sreenu.web.DateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateServlet</servlet-name>
    <url-pattern>/DateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyUsername</display-name>
    <servlet-name>VerifyUsername</servlet-name>
    <servlet-class>com.sreenu.web.VerifyUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyUsername</servlet-name>
    <url-pattern>/VerifyUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryDetails</display-name>
    <servlet-name>OrderHistoryDetails</servlet-name>
    <servlet-class>com.sreenu.web.OrderHistoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryDetails</servlet-name>
    <url-pattern>/OrderHistoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayOrdersByJson</display-name>
    <servlet-name>DisplayOrdersByJson</servlet-name>
    <servlet-class>com.sreenu.web.DisplayOrdersByJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOrdersByJson</servlet-name>
    <url-pattern>/DisplayOrdersByJson</url-pattern>
  </servlet-mapping>
</web-app>